*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

/* Common classes */

.title {
  font-size: 40px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0 / 0.6);
}

.button {
  box-sizing: border-box;
  border: 1px solid white;
  padding: 12px 32px;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  color: black;
  background-color: white;
}

.link {
  border-bottom: 1px solid black;
  font-size: 18px;
  text-decoration: none;
  text-transform: lowercase;
  white-space: nowrap;
}

.link_active {
  border-bottom-color: transparent;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
}
